<div class="w-full h-full flex flex-col">
    <a href="/dashboard/create" class="btn btn-secondary mx-auto">Create post</a>
    {{#each posts as |post|}}
    <div class="card w-5/6 bg-base-100 shadow-xl my-3 mx-auto rounded-none" data-post={{post.id}}>
        <div class="w-full bg-secondary p-1 flex justify-between" data-post={{post.id}}>
            <h2 class="text-3xl font-semibold m-2" data-post={{post.id}}>{{post.title}}</h2>
            <p class="text-xl m-2" data-post={{post.id}}>Created on {{post.date_created}}</p>
        </div>
        <div class="card-body" data-post={{post.id}}>
            <p class="text-xl" data-post={{post.id}}>{{post.content}}</p>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>